@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 132 20% 95%;
    --foreground: 134 30% 21%;
    --card: 0 0% 100%;
    --card-foreground: 134 30% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 134 30% 21%;
    --primary: 134 40% 31%;
    --primary-foreground: 132 20% 95%;
    --secondary: 132 10% 88%;
    --secondary-foreground: 134 30% 21%;
    --muted: 132 10% 88%;
    --muted-foreground: 134 30% 31%;
    --accent: 134 40% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 132 10% 80%;
    --input: 132 10% 88%;
    --ring: 134 40% 45%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 134 15% 10%;
    --foreground: 132 20% 95%;
    --card: 134 15% 15%;
    --card-foreground: 132 20% 95%;
    --popover: 134 15% 15%;
    --popover-foreground: 132 20% 95%;
    --primary: 134 40% 71%;
    --primary-foreground: 134 30% 11%;
    --secondary: 134 15% 25%;
    --secondary-foreground: 132 20% 95%;
    --muted: 134 15% 25%;
    --muted-foreground: 132 20% 75%;
    --accent: 134 40% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 134 15% 25%;
    --input: 134 15% 25%;
    --ring: 134 40% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
